{% extends "campus/tpl.html" %}

{% block content %}

    <h2>UP Campus Guadalajara</h2>
    <p class="text-muted">Especialidad de Ciencia de Datos / Grupo B</p>

    <ol class="list-group list-group-numbered">
        <li class="list-group-item list-group-item-action list-group-item-white ">
            <a href="{% url 'campus:students-index' %}" class="link-success">Students</a>
        </li>
        <li class="list-group-item list-group-item-action list-group-item-white">
            <a href="{% url 'campus:teachers-index' %}" class="link-success">Teachers</a>
        </li>
        <li class="list-group-item d-flex list-group-item-action justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <a href="{% url 'campus:classes-index' %}" class="link-success">Classes</a>
            </div>
            <span class="badge bg-success rounded-pill">Enero-Junio</span>
        </li>
    </ol>

{% endblock %}
