{% extends "campus/tpl.html" %}

{% block content %}

    <h1>Student Detail</h1>

    <form action="{% url 'campus:students-save' student_id %}" method="post">
        {% csrf_token %}
        <ul>
            <li>
                <strong>Student ID:</strong>
                {% if student_id == 0 %}
                    <input type="number" step="1" min="100000" max="1000000" value="" name="student_id" required>
                {% else %}
                    {{ student_id }}
                {% endif %}
            </li>
            <li>
                <strong>Name:</strong>
                <input type="text" value="{{ student.name }}" name="name" required>
            </li>
            <li>
                <strong>Last Name:</strong>
                <input type="text" value="{{ student.last_name }}" name="last_name" required>
            </li>
            <li>
                <strong>Date of Birth:</strong>
                <input type="date" value="{{ student.date_of_birth.isoformat }}" name="date_of_birth" required>
            </li>
            <li>
                <strong>Favorite Number:</strong>
                <input type="number" step="1" min="0" value="{{ student.favorite_number }}" name="favorite_number" required>
            </li>
            <li>
                <strong>Country of Origin:</strong>
                <select name="country_of_origin" required>
                    <option value="">Select one...</option>
                    <option {% if student.country_of_origin == "MEX" %}selected{% endif %} value="MEX">Mexico</option>
                    <option {% if student.country_of_origin == "CAN" %}selected{% endif %} value="CAN">Canada</option>
                    <option {% if student.country_of_origin == "USA" %}selected{% endif %} value="USA">United States</option>
                    <option {% if student.country_of_origin == "BOL" %}selected{% endif %} value="BOL">Bolivia</option>
                </select>
            </li>
            <li>
                <label>
                    <strong>Active:</strong>
                    <input type="checkbox" name="active" {% if student.active %}checked{% endif %}>
                </label>
            </li>
            <li>
                <strong>Created At:</strong>
                {{ student.created_at }}
            </li>
        </ul>
        <div>
            <a href="{% url 'campus:students-index' %}">Back</a>
            <button type="submit">Save</button>
        </div>
    </form>

{% endblock %}
