{% if create %}{% url 'campus:students-create' as u %}
{% else %}{% url 'campus:students-save' student.id as u %}{% endif %}
<form action="{{ u }}" method="post">
    {% csrf_token %}

<style>
    .custom-input {
        background-color:#EEE9DC;
        border-radius: 25px;
        padding: 10px;
        border-color: transparent;
    }

    tx{
        font-family: 'Poppins', sans-serif;
    }

    .secondary-button {
        height: 48px;
        padding: 10px 20px;
        color: #0C3934;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        border-radius: 24px;
        border-width: 4px;
        border-color:#E2A9C9;
    }

    .primary-button {
        background-color:#0C3934;
        height: 48px;
        padding: 10px 20px;
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        border-radius: 24px;
        border-color: transparent;
    }

    .primary-button:hover {
        background-color: #E2A9C9;
        color: #ffffff;
    }
</style>


    <div class="mb-3" style="font-family: 'Poppins', sans-serif;">
        <label class="form-label" style="font-family: 'Poppins', sans-serif;">Student ID:</label>
        {% if create %}
            <input type="number" class="form-control custom-input" step="1" min="100000" max="1000000"  name="id" required>
        {% else %}
            <span>{{ student.id }}</span>
        {% endif %}
    </div>
    <div class="mb-3" style="font-family: 'Poppins', sans-serif;">
        <label class="form-label" style="font-family: 'Poppins', sans-serif;">Name:</label>
        <input type="text" class="form-control custom-input" value="{{ student.name }}" name="name" required>
    </div>
    <div class="mb-3" style="font-family: 'Poppins', sans-serif;">
        <label class="form-label" style="font-family: 'Poppins', sans-serif;">Last Name:</label>
        <input type="text" class="form-control custom-input" value="{{ student.last_name }}" name="last_name" required>
    </div>
    <div class="mb-3" style="font-family: 'Poppins', sans-serif;">
        <label class="form-label" style="font-family: 'Poppins', sans-serif;">Date of Birth:</label>
        <input type="date" class="form-control custom-input" value="{{ student.date_of_birth.isoformat }}" name="date_of_birth" required>
    </div>
    <div class="mb-3" style="font-family: 'Poppins', sans-serif;">
        <label class="form-label" style="font-family: 'Poppins', sans-serif;">Favorite Number:</label>
        <input type="number" class="form-control custom-input" step="1" min="0" value="{{ student.favorite_number }}" name="favorite_number" required>
    </div>
    <div class="mb-3" style="font-family: 'Poppins', sans-serif;">
        <label class="form-label" style="font-family: 'Poppins', sans-serif;">Country of Origin:</label>
        <select class="form-control custom-input" name="country_of_origin" required>
            <option value="">Select one...</option>
            <option {% if student.country_of_origin == "MEX" %}selected{% endif %} value="MEX">Mexico</option>
            <option {% if student.country_of_origin == "CAN" %}selected{% endif %} value="CAN">Canada</option>
            <option {% if student.country_of_origin == "USA" %}selected{% endif %} value="USA">United States</option>
            <option {% if student.country_of_origin == "BOL" %}selected{% endif %} value="BOL">Bolivia</option>
        </select>
    </div>
    <div class="mb-3" style="font-family: 'Poppins', sans-serif;">
        <label class="form-label" style="font-family: 'Poppins', sans-serif;">
            Active:
            <input type="checkbox" name="active" {% if student.active %}checked{% endif %}>
        </label>
    </div>
    {% if not create %}
    <div class="mb-3" style="font-family: 'Poppins', sans-serif;">
        <label class="form-label" style="font-family: 'Poppins', sans-serif;">Created At:</label>
        {{ student.created_at }}
    </div>
    {% endif %}
    <div class="mb-3" style="font-family: 'Poppins', sans-serif;">
        <a href="{% url 'campus:students-index' %}" class="secondary-button">Back</a>
        <button type="submit" class="primary-button">Save</button>
    </div>
</form>
