{% extends "campus/tpl.html" %}

{% block content %}

    <h1>
        Student: {{ student.name }} {{ student.last_name }}
        <a href="{% url 'campus:students-index' %}" class="btn btn-secondary float-end">Back</a>
    </h1>

    <ul class="nav nav-tabs mb-3" id="student-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="edit-tab" data-bs-toggle="tab" data-bs-target="#edit-tab-pane" type="button" role="tab">Edit</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="enrollments-tab" data-bs-toggle="tab" data-bs-target="#enrollments-tab-pane" type="button" role="tab">Enrollments</button>
        </li>
    </ul>

    <div class="tab-content mb-3" id="student-tab-content">
        <div class="tab-pane fade show active" id="edit-tab-pane" role="tabpanel" tabindex="0">
            {% include 'campus/students/_detail_form.html' with student=student create=create only %}
        </div>
        <div class="tab-pane fade" id="enrollments-tab-pane" role="tabpanel" tabindex="0">
            {% include 'campus/reports/_report.html' with rows=enrollments_rows headers=enrollments_headers %}
        </div>
    </div>

{% endblock %}
