{% if create %}{% url 'campus:courses-create' as u %}
{% else %}{% url 'campus:courses-save' course.id as u %}{% endif %}
<form action="{{ u }}" method="post">
    {% csrf_token %}

<style>
    .custom-input {
        background-color:#EEE9DC;
        border-radius: 25px;
        padding: 10px;
        border-color: transparent;
    }

    tx{
        font-family: 'Poppins', sans-serif;
    }

    .secondary-button {
        height: 48px;
        padding: 10px 20px;
        color: #0C3934;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        border-radius: 24px;
        border-width: 4px;
        border-color:#E2A9C9;
    }

    .primary-button {
        background-color:#0C3934;
        height: 48px;
        padding: 10px 20px;
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        border-radius: 24px;
        border-color: transparent;
    }

    .primary-button:hover {
        background-color: #E2A9C9;
        color: #ffffff;
    }
</style>


    <div class="mb-3" style="font-family: 'Poppins', sans-serif;">
        <label class="form-label" style="font-family: 'Poppins', sans-serif;">Course ID:</label>
        <input type="number" class="form-control custom-input" step="1" min="123" max="1000000" name="id" required>
    </div>
    <div class="mb-3" style="font-family: 'Poppins', sans-serif;">
        <label class="form-label" style="font-family: 'Poppins', sans-serif;">Class ID:</label>
        {% if create %}
            <input type="number" class="form-control custom-input" step="1" min="100000" max="1000000" name="id" required>
        {% else %}
            <span>{{ course.class_id }}</span>
        {% endif %}
    </div>
    <div class="mb-3" style="font-family: 'Poppins', sans-serif;">
        <label class="form-label" style="font-family: 'Poppins', sans-serif;">Semester:</label>
        <input type="date" class="form-control custom-input" value="{{ course.semester.isoformat }}" name="semester" required>
    </div>
    <div class="mb-3">
        <label class="form-label" style="font-family: 'Poppins', sans-serif;">
            Active:
            <input type="checkbox" name="active" {% if course.active %}checked{% endif %}>
        </label>
    </div>
    {% if not create %}
    <div class="mb-3">
        <label class="form-label" style="font-family: 'Poppins', sans-serif;">Created At:</label>
        {{ course.created_at }}
    </div>
    {% endif %}
    <div class="mb-3">
        <a href="{% url 'campus:courses-index' %}" class="secondary-button" style="font-family: 'Poppins', sans-serif;">Back</a>
        <button type="submit" class="primary-button" style="font-family: 'Poppins', sans-serif;">Save</button>
    </div>
</form>
