{% extends "campus/tpl.html" %}

{% block content %}

    <style>
        h1 {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            color:#E2A9C9;
        }

        .third-button {
            background-color:transparent;
            height: 48px;
            padding: 10px 20px;
            color: #0C3934;
            text-align: center;
            font-size: 16px;
            border: 2px solid #0C3934;
            border-radius: 24px;
        }
    </style>




    <h1>
        Course: {{ course.id }}
        <a href="{% url 'campus:courses-index' %}" class="third-button float-end">Back</a>
    </h1>


    <div class="tab-content mb-3" id="course-tab-content">
        <div class="tab-pane fade show active" id="edit-tab-pane" role="tabpanel" tabindex="0">
            {% include 'campus/courses/_detail_form.html' with course=course create=create only %}
        </div>

    </div>

{% endblock %}
