{% extends "campus/tpl.html" %}

{% block content %}
    <h1>
        Teacher Detail:
    </h1>

    {% if create %}{% url 'campus:teachers-create' as u %}
    {% else %}{% url 'campus:teachers-save' teacher.id as u %}{% endif %}

    <form action="{{ u }}" method="post">
        {% csrf_token %}


    <div class="mb-3">
        <label class="form-label">Teacher ID:</label>
        {% if create %}
            <input type="number"  class="form-control" step="1" min="100000" max="1000000" value="100000" name="id" required>
        {% else %}
            {{ teacher.id }}
        {% endif %}
    </div>

    <div class="mb-3">
        <label class="form-label">Name:</label>
         <input type="text"  class="form-control" value="{{ teacher.name }}" name="name" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Last Name:</label>
        <input type="text" class="form-control" value="{{ teacher.last_name }}" name="last_name" required>
    </div>

    <div class="mb-3">
        <label class="form-label">Date of Birth:</label>
        <input type="date" class="form-control" value="{{ teacher.date_of_birth.isoformat }}" name="date_of_birth" required>
    </div>

     <div class="mb-3">
        <label class="form-label">Degree:</label>
        <select name="degree" class="form-control" required>
            <option value="">Select one...</option>
            <option {% if teacher.degree == "bachelors" %}selected{% endif %} value="bachelors">Bachelor's</option>
            <option {% if teacher.degree == "masters" %}selected{% endif %} value="masters">Master's</option>
            <option {% if teacher.degree == "doctorate" %}selected{% endif %} value="doctorate">Doctorate</option>
        </select>
    </div>

        {% if not create %}
        <div class="mb-3">
        <label class="form-label">Created At:</label>
        {{ teacher.created_at }}
        </div>

        {% endif %}

        </ul>
        <div>
            <a href="{% url 'campus:teachers-index' %}" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>

{% endblock %}