
<style>
        .primary-button {
        font-family: 'Poppins', sans-serif;
        background-color:#0C3934;
        padding: 10px 20px;
        color: #ffffff;
        text-align: center;
        font-size: 16px;
        border-radius: 24px;
        border-color: transparent;
    }
        .primary-button:hover {
            background-color: #E2A9C9;
            color: #ffffff;
        }

        body {
            background:#F8EBEE;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
        }
</style>
<a class="primary-button" href="/campus" style="font-family: 'Poppins', sans-serif;">Campus</a>
